/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-family: 'Roboto', sans-serif;
  --primary-1:#3498db;
  --primary-2:#2980b9;
  --danger-1:#e74c3c ;
  --danger-2:#c0392b ;
  --success-1:#2ecc71 ;
  --success-2:#27ae60 ;
  --gray-1: #f6f6f6;
  --gray-2:#ddd;
  --gray-3:#34495e;
  --text-color: #444;
  --text-primary-color: #ffffff;
  --border:1px solid var(var(--gray-2));
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--gray-1);
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.m-20 {
  margin: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.m-30 {
  margin: 30px;
}

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: var(--primary-1);
  color: var(--text-primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-2);
}

.btn-danger {
  background-color: var(--danger-1);
  color: var(--text-primary-color);
}

.btn-danger:hover {
  background-color: var(--danger-2);
}

.btn-success {
  background-color: var(--succes-1);
  color: var(--text-primary-color);
}

.btn-success:hover {
  background-color: var(--succes-2);
}
